@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900,&display=swap');


html{
    height: 100%;
    background-color: #62dd54;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
 }


 body{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    min-height: 100%;
 }


 h1{
    margin-bottom: 25px;
 }
 h2{
   color: white;
 }

img{
margin-left: 225px;
border-radius: 10%;
}

 p{
    margin-bottom: 15px;
    color: white;
 }

 .team{
   text-align: center;
 }


 a{
    text-decoration: none;
 }
 section {
   background-color: #760076;
   padding: 20px;
   margin: 20px;
   border-radius: 5px;
}
 .content {
    width: 94%;
    margin: 0 auto;
    padding-top: 32px;
 }

 footer{
    background-color: rgb(158, 78, 233);
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    margin-top: auto;
}

footer li{
    list-style: none;
    display: inline-block;
    margin: 10px;
 }

 .footer-icons a{
    background-color: rgb(3, 60, 3);
    color: rgb(135, 254, 121);
    padding: 15px;
    border-radius: 100px;
    display: flex;
    font-size: 25px;
 }

 .footer-icons a:hover{
    color: rgb(178, 7, 178);
 }

 .footer-menu a{
    color: #fff;
 }
 
 .footer-menu a:hover{
    color: #16de00;
 }
 
 .footer-copyright{
    color: white;
    background-color:#760076;
    ;
    padding: 15px;   
    margin-top: 30px; 
 }

 .footer-copyright p{
    margin-bottom: 0px;
 }