@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900,&display=swap');


html{
    height: 100%;
    background-color: #62dd54;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
 }

 body{
   display: flex;
   flex-direction: column;
   font-family: "Poppins", sans-serif;
   min-height: 100%;
}
 h1{
    margin-left: 20px;
    margin-bottom: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 }

 .banner{
   display: flex;
   width: 100%;
   transition: 1s;
 }
 .banner img {
   width: 100%;
 }

 .slider{
   width: 1000px;
   height: 600px;
   margin: auto;
   border-radius: 10px;
   overflow: hidden;
   position: relative ;
   
 }

 #slide-1:target ~ .banner {
   margin-left: 0px;
 }

 #slide-2:target ~ .banner {
   margin-left: -100%;
 }

 #slide-3:target ~ .banner {
   margin-left: -200%;
 }


 .navigation a{
   display: inline-block;
   height: 25px;
   width: 25px;
   background-color:#62dd54;
   font-size: 0px;
   border-radius: 50%;
   margin: 3px;
   transition: 1s;
 }

 .navigation a:hover{
   background-color:#760076;
 }

 .navigation {
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   margin-top: -50px;
   left: 0;
   right: 0;
   text-align: center;
   

 }
 .headertext{
   text-align: center;
 }

 .title{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
   column-gap: 20px;
 }

 .title::before, .title::after {
   content: "";
   height: 2px;
   background-color: black;
   display: block;

 }
 .text{
   font-size: 20px;
   font-family:Poppins;
   background-color:#62dd54; 
 }

 .headertext .title .text  {
   display: inline-block;
   vertical-align: top;
   position: relative;
   z-index: 1;
   max-width: 100%;
   width: auto;
   
 }

.picture {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   margin: 80px;
   align-items: center;
   grid-gap: 20px;
}
.picture > article {
   border-radius: 10px;
   text-align: center;
   background: rgb(151, 255, 137);
   transition: transform;
}

 .picture > article:hover {
   transform: scale(1.1);
 }

 .word {
   cursor:pointer;
   font-size: 16px;
 }
img{
   object-fit: cover;
}


 .content {
    width: 94%;
    margin: 0 auto;
    padding-top: 32px;
 }

 footer{
    background-color: rgb(158, 78, 233);
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    margin-top: auto;
}

footer li{
    list-style: none;
    display: inline-block;
    margin: 10px;
 }

 .footer-icons a{
    background-color: rgb(3, 60, 3);
    color: rgb(135, 254, 121);
    padding: 15px;
    border-radius: 100px;
    display: flex;
    font-size: 25px;
 }

 .footer-icons a:hover{
    color: rgb(178, 7, 178);
 }

 .footer-menu a{
    color: #fff;
 }
 
 .footer-menu a:hover{
    color: #16de00;
 }
 
 .footer-copyright{
    color: white;
    background-color:#760076;
    ;
    padding: 15px;   
    margin-top: 30px; 
 }

 .footer-copyright p{
    margin-bottom: 0px;
 }